body{
    background-color: #EAF6F6;;
}

/* NAVBAR */
.navbar-nav{
    margin-left: auto;
}
.nav-link{
    color: #018790 !important;
}
/* JUMBOTRON */
.jumbotron{
    background-color: #EAF6F6;
    background-size: cover;
    height: 180px;
    margin-top: -55px;
    padding-top: 50px;
}

/* CONTENT 1 */
.content-1 h1{
    margin-top: 15px;
    margin-left: 135px;
    color: #018790;
}
.point p{
    width: 90%;
    text-align: justify;
}

/* BUTTON */
.all-button{
    border-radius: 20px;
    background-color: #66BFBF;
    color: white ;
}

/* DESKTOP VERSION */
@media (min-width: 992px) { 
    /* NAVBAR */
    .nav-link{
        margin-right: 30px;
        text-transform: uppercase;
    }

    .nav-link:hover::after{
        content: '';
        display: block;
        border-bottom: 3px solid #66BFBF;
        width: 60%;
        margin: auto;
        padding-bottom: 4px;
        margin-bottom: -7px;
    }
    
    /* SLIDER */
    .carousel-item{
        height: 500px;
    }

    /* CONTENT-1 */
    .content-1 h1{
        margin-left: 540px;
    }
    .content-1_description{
        display: flex;
        margin-top: 60px;
    }
 }